@using WebApp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> Glance<span class="dashboard_text">Design dashboard</span></a></h1>
        </div>
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-dashboard"></i> <span>Trang Chủ</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Quản lí sản phẩm</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiSPs" asp-action="Index"><i class="fa fa-angle-right"></i> Loại sản phẩm</a></li>
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="SanPhams" asp-action="Index"><i class="fa fa-angle-right"></i>Sản phẩm</a></li>
                    </ul>
                </li>
        
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Quản lí nhân sự </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                       
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="NhanVienBanHangs" asp-action="Index"><i class="fa fa-angle-right"></i>Nhân viên bán hàng</a></li>
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="NhanVienGiaoHangs" asp-action="Index"><i class="fa fa-angle-right"></i>Nhân viên giao hàng</a></li>
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="NhanVienQuanlis" asp-action="Index"><i class="fa fa-angle-right"></i>Nhân viên quản lí</a></li>
                    </ul>
                </li>
               
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Quản lí quảng cáo</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="ChuDes" asp-action="Index"><i class="fa fa-angle-right"></i>Danh mục quảng cáo</a></li>
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="TinTucs" asp-action="Index"><i class="fa fa-angle-right"></i>Chi tiết quảng cáo</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Quản lí khách hàng</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="KhachHangs" asp-action="Index"><i class="fa fa-angle-right"></i> Khách hàng</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Quản lí khuyến mãi</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="KhuyenMais" asp-action="Index"><i class="fa fa-angle-right"></i>Khuyến mãi</a></li>
                        <li><a href="compose.html"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Quản lí nhà cung cấp</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="NhaCungCaps" asp-action="Index"><i class="fa fa-angle-right"></i>Nhà cung cấp</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Quản lí Hóa Đơn</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="HoaDons" asp-action="Index"><i class="fa fa-angle-right"></i>Hóa đơn</a></li>
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="ChiTietHoaDons" asp-action="Index"><i class="fa fa-angle-right"></i>Chi tiết hóa đơn</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Quản lí Tài Khoản</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="NguoiDungs" asp-action="Index"><i class="fa fa-angle-right"></i>Nhân viên giao hàng</a></li>
                    </ul>
                </li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-angle-right text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-angle-right text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>
 </div>