@model WebApp.Areas.Admin.Models.TinTuc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TinTuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTinTuc" />
            <div class="form-group">
                <label asp-for="HinhDaiDien" class="control-label"></label>
                <input asp-for="HinhDaiDien" class="form-control" />
                <span asp-validation-for="HinhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tentieude" class="control-label"></label>
                <input asp-for="Tentieude" class="form-control" />
                <span asp-validation-for="Tentieude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matacgia" class="control-label"></label>
                <select asp-for="Matacgia" class="form-control" asp-items="ViewBag.Matacgia"></select>
                <span asp-validation-for="Matacgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaChuDe" class="control-label"></label>
                <select asp-for="MaChuDe" class="form-control" asp-items="ViewBag.MaChuDe"></select>
                <span asp-validation-for="MaChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
